/* Styles properties */
ion-content[_aio-9CBC9462] {
--padding-top: 16px;
--padding-end: 16px;
--padding-bottom: 16px;
--padding-start: 16px;
text-align: center;
}
div[_aio-89B21E84] {
display: inline-block;
width: 100%;
max-width: 400px;
text-align: left;
}
h1[_aio-2B86057B] {
text-align: center;
}
div[_aio-4E91D644] {
text-align: right;
padding-left: 16px;
margin-top: 20px;
}
a[_aio-3D567B32] {
text-align: right;
}
ion-button[_aio-885B7BB6] {
margin-top: 20px;
margin-right: 20px;
margin-bottom: 20px;
margin-left: 20px;
}
div[_aio-43B88265] {
text-align: center;
}
div[_aio-FDC7DA44] {
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
ion-button[_aio-67A7C521] {
margin-right: 15px;
}
div[_aio-66202BB1] {
text-align: center;
}
div[_aio-A6A9C626] {
text-align: center;
}
ion-button[_aio-3111CCF9] {
margin-top: 20px;
margin-right: 20px;
margin-bottom: 20px;
margin-left: 20px;
}
/* Custom SCSS */
