/* Styles properties */
ion-content[_aio-D5E7715B] {
--padding-top: 16px;
--padding-end: 16px;
--padding-bottom: 16px;
--padding-start: 16px;
text-align: center;
}
div[_aio-334E9C1A] {
display: inline-block;
width: 100%;
max-width: 400px;
text-align: left;
}
h1[_aio-1DE3B01B] {
text-align: center;
}
ion-button[_aio-BE8FB892] {
margin-top: 20px;
margin-right: 20px;
margin-bottom: 20px;
margin-left: 20px;
}
ion-button[_aio-A4EA2B5F] {
margin-top: 20px;
margin-right: 20px;
margin-bottom: 20px;
margin-left: 20px;
}
h1[_aio-2D9B516B] {
text-align: center;
font-size: 15px;
}
ion-button[_aio-A9AFFEA2] {
margin-top: 20px;
margin-right: 20px;
margin-bottom: 20px;
margin-left: 20px;
}
/* Custom SCSS */
